@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar2">Adicionar Novo Contato</a>
    </div>
    <br />
    @if(TempData["MensagemSucesso"]!=null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />
  
    <h1 class="mt-5 fs-2">Listagem de Contatos</h1>
    <table class="table mt-5" id="table-contato">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @if (Model!= null)
            {
                @foreach(ContatoModel contato in Model)
                {
                    <tr>
                        <td scope="row">@contato.Id</td>
                        <td>@contato.Name</td>
                        <td>@contato.Email</td>
                        <td>@contato.Telefone</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <!--PARA O BOTÃO DE EDITAR E APAGAR USAREMOS O ASP-ROUTE-ID PARA PASSAR O VALOR DO ID--->
                                <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao" role="button">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


